<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<!-- changes made by teddy -->
<div class="container">
  <div class="container" id="chatapp">
    <div class="row">

       <section class="col-lg-9" id="chatbox" >

        <!-- section where messages appear -->
        <section>
          <div ng-repeat="message in messages track by $index">
            {{message}}
          </div>
        </section>

        <!-- section where input form is -->
        <footer>
          <form class="chat-form" ng-submit="send()">
            <p class="input-group">
              <input type="text" class="form-control" placeholder="Type your message" ng-model="input">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="send()">Send</button>
              </span>
            </p>
          </form>
        </footer>
      </section>

      <!-- section where features reside -->
      <aside class="col-lg-3">
        <div ng-repeat="feature in features">
          {{feature}}
        </div>
      </aside>

    </div>
  </div>
</div>
<!-- end of changes -->

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
