.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}




// CHANGES MADE BY TEDDY

.chat-form {
    margin: 20px 0;
}

#chatbox {
    padding: 0px;
    height: 600px;
    border-right: 1px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #666;
}

#chatbox section {
    height: 520px;
    overflow: auto;
    padding: 15px;
}

#chatbox aside {
    height: 520px;
    padding: 15px;
    overflow: hidden;
}

#chatbox footer {
    padding: 10px;
    height: 60px;
    border-top: 1px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: #666;
    border-style: solid;
}

#chatapp {
    border-width: 1px;
    border-style: solid;
    height: 600px;
    background-color: #fff;
    border-color: #666;
    border-radius: 4px;
}

#chat-section {
    height: 800px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#chat-box {
    height: 520px;
    background-color: #fff;
    border-radius: 1.2em 1.2em 0 0;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-style: solid;
    border-color: #aaa;
    border-collapse: collapse;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 20px;
}

#input-box {
    padding: 20px;
    height: 80px;
    border-radius: 0 0 1.2em 1.2em;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-style: solid;
    border-color: #aaa;
    border-collapse: collapse;
    background-color: rgba(24, 158, 135, 0.7);
}

.btn-primary {
    background-color: #18949e;
}